@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
    color: #ffffff;
    background: black;
    overflow-x: hidden;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
